<div *ngIf="breed" class="card">
  <div class="card-header">
    <h2>{{ breed.name }}</h2>
  </div>
  <div class="card-body">
    <img
      *ngIf="breed.imageUrl"
      [src]="breed.imageUrl"
      alt="{{ breed.name }}"
      class="card-img"
    />
    <ul class="card-details">
      <li><strong>Temperament:</strong> {{ breed.temperament }}</li>
      <li><strong>Origin:</strong> {{ breed.origin }}</li>
      <li><strong>Life Span:</strong> {{ breed.life_span }}</li>
      <li><strong>Adaptability:</strong> {{ breed.adaptability }}</li>
      <li><strong>Child Friendly:</strong> {{ breed.child_friendly }}</li>
      <li><strong>Dog Friendly:</strong> {{ breed.dog_friendly }}</li>
      <li><strong>Energy Level:</strong> {{ breed.energy_level }}</li>
      <li><strong>Grooming:</strong> {{ breed.grooming }}</li>
      <li><strong>Health Issues:</strong> {{ breed.health_issues }}</li>
      <li><strong>Intelligence:</strong> {{ breed.intelligence }}</li>
      <li><strong>Shedding Level:</strong> {{ breed.shedding_level }}</li>
      <li><strong>Social Needs:</strong> {{ breed.social_needs }}</li>
      <li><strong>Stranger_Friendly:</strong> {{ breed.stranger_friendly }}</li>
      <li><strong>Vocalisation:</strong> {{ breed.vocalisation }}</li>
    </ul>
  </div>
</div>
