
 $primary: #E08F7E;
$text: #323e51;

.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: $primary;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.error {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

.submit-button {
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.submit-button:disabled {
  background-color: $text;
  cursor: not-allowed;
 
}
