<p>cats-gallery works!</p>
<div class="grid-container">
    <div *ngFor="let breed of breeds">
        <div class="post">
         <div>
            <h3> Name: {{ breed.name }}</h3>
            <!-- Show breed image if imageUrl exists -->
            <img *ngIf="breed.imageUrl" [src]="breed.imageUrl" alt="{{ breed.name }}" >
         </div>
          <div>
            <h4>{{ breed.description }}</h4>
            <button (click)="viewBreedDetail(breed.id)">View Details</button>
          </div>
        </div>
     </div>
</div>
  
